<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mirror</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>documenticon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Mirror Project</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MIRR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>Project</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webloc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>URL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.url</string>
				<string>public.html</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Mirror.help</string>
	<key>CFBundleHelpBookName</key>
	<string>org.brunovandekerkhove.mirror.help</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.brunovandekerkhove.mirror</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Bruno Vandekerkhove. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Mirror this URL</string>
			</dict>
			<key>NSMessage</key>
			<string>mirrorURL</string>
			<key>NSPortName</key>
			<string>Mirror</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>URL</string>
			</dict>
			<key>NSRestricted</key>
			<false/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Mirror Project</string>
			<key>UTTypeIconFile</key>
			<string>documenticon</string>
			<key>UTTypeIdentifier</key>
			<string>org.brunovandekerkhove.mirror</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MIRR</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mirror</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Mirror Project</string>
			<key>UTTypeIconFile</key>
			<string>documenticon</string>
			<key>UTTypeIdentifier</key>
			<string>org.brunovandekerkhove.mirror</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>MIRR</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mirror</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
